.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
  cursor: pointer;
  margin-right: 20px;
}
.headerOption:hover {
  color: black;
}
.avatar {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}
